@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&text=ACEFGHIJMNOPRSTUVXY.%20");

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.check_table {
  height: auto;
  width: 90%;
  border: 2px solid #000;
  text-align: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  margin-top: 50px;
}

.table-details>tr {
  height: 60px;
}

td {
  padding-left: 30px;
  border-bottom: 1px solid #000;
}

.text-heading {
  padding-left: 30px;
}

thead {
  border-bottom: 3px solid #000;
}

.final-message {
  padding-left: 10%;
}

@media only screen and (max-device-width: 768px) {

  /* For mobile phones: */
  body {
    height: 100%;
    width: 100%;
  }

  .check_table {
    font-size: 0.9em;
    width: 98%;
  }

  .final-message {
    font-size: 0.6em;
  }

  td {
    padding-left: -30px;
  }
}
